{% load static %}
<div class="about shadow p-3 m-3 bg-body border-top rounded">
    <img src="{% static 'minhafoto.jpeg' %}" alt="Rylder Oliveira" class="minhafoto rounded">
    <div class="textabout p-3 m-3 ">
        <h1>About me</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel dolores deserunt vero enim neque minima, cumque officiis in quisquam deleniti, quod at animi officia saepe beatae, velit sed explicabo laudantium.
        </p>
    </div>
</div>