{% load static %}
<div class="contacts shadow p-3 m-3 bg-body border-top rounded">
    <h1 class="title">Contact</h1>
    <div class="contacts-container shadow p-3 m-3 bg-body rounded">
        <div class="contact">
            <div class="contact-icon">
                <img src="{% static 'instagram.png' %}" alt="instagram" class="icon">
            </div>
            <div class="contact-text">
                <p>@rylderolivera</p>
            </div>
        </div> 
        <div class="contact">
            <div class="contact-icon">
                <img src="{% static 'facebook.png' %}" alt="facebook" class="icon">
            </div>
            <div class="contact-text">
                <p>Rylder Oliveira</p>
            </div>
        </div>   
        <div class="contact">
            <div class="contact-icon">
                <img src="{% static 'whatsapp.png' %}" alt="whatsapp" class="icon">
            </div>
            <div class="contact-text">
                <p>+55 34 9 8839-7556</p>
            </div>
        </div>  
        <div class="contact">
            <div class="contact-icon">
                <img src="{% static 'linkedin.png' %}" alt="linkedin" class="icon">
            </div>
            <div class="contact-text">
                <p>rylderolivera</p>
            </div>
        </div>  
    </div>
</div>