<div class="projects shadow p-3 m-3 bg-body border-top rounded">
    <h1 class="title">Projects</h1>
    <div class="project m-3 ms-0 border">
        <div class="project-number-start">
            <h1>1</h1>
        </div>
        <div class="project-describe p-3 m-3">
            <h2>Projeto Teste</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, architecto nisi deleniti modi eos tempore, nam, voluptas adipisci recusandae ab iste soluta minima commodi quae ipsum hic sit laudantium! Ipsa.</p>
        </div>
    </div>
    <div class="project m-3 ms-0 border">
        
        <div class="project-describe p-3 m-3">
            <h2>Projeto Teste</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, architecto nisi deleniti modi eos tempore, nam, voluptas adipisci recusandae ab iste soluta minima commodi quae ipsum hic sit laudantium! Ipsa.</p>
        </div>
        <div class="project-number-end">
            <h1>2</h1>
        </div>
    </div>
</div>