{% load static %}
<div class="projects shadow p-3 m-3 bg-body border-top rounded">
    <h1 class="title">Projects</h1>
    <div class="project m-3 ms-0 border">
        <div class="project-number-start">
            <a href="{% url 'calculator' %}">
                <img class="project-image" src="{% static 'calculatorPrint.png' %}" alt="Calculator">
            </a>
        </div>
        <div class="project-description p-3 m-3">
            <h1><a class="project-title" href="{% url 'calculator' %}">Calculator</a></h1>
            <p>A simple calculator using HTML, CSS and JavaScript. I make this project to improve my skills and I followed a youtube video teaching how to make a simple calculator using JavaScript</p>
        </div>
    </div>
</div>