{% extends 'base.html'%}
{% load static %}
{% block content %}
{% include 'partials/_nav.html' %}
<div class="notes-container d-flex"> 
    <form action="{% url 'createNote' %}" method="post" class="note-form d-flex flex-column m-3 p-3 rounded">
        {% csrf_token %}
        <label for="note-title" class="form-label">Titulo</label>
        <input class="form-control" type="text" name="note-title" id="note-title" size="50" required>
        <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="note-description" size="50" required></textarea>
        <button class="btn btn-success m-3" type="submit">Adicionar</button>
    </form>
    <div class="notes-created d-flex align-content-start flex-wrap">
        {% for note in notes %}
        <div class="note-info m-3 d-flex flex-column rounded">
            <div class="note p-3">
                <h3>{{note.title}}</h3>
                <hr>
                <h5>{{note.description}}</h5>
            </div>
            <a class="btn btn-danger" type="button" href="{% url 'deleteNote' note.id %}">Delete</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}