{% extends 'base.html'%}
{% load static %}
{% block content %}
{% include 'partials/_nav.html' %}
<div class="bg-calculator d-flex align-items-center justify-content-center">
    <div class="container-notes d-flex flex-row justify-content-evenly rounded">
        <form action="{% url 'createNote' %}" method="post" class="d-flex flex-column m-3 border-radius">
            {% csrf_token %}
            <label for="note-title" class="form-label">Titulo</label>
            <input type="text" name="note-title" id="note-title">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="note-description"></textarea>
            <button class="btn btn-success" type="submit">SUBMIT</button>
        </form>
        <div class="notes-created bg-success m-3">

            {% for note in notes %}
            <div class="note bg-info">
                <h3>{{note.title}}</h3>
                <hr>
                <h5>{{note.description}}</h5>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}