{% extends 'base.html'%}
{% load static %}
{% block content %}
{% include 'partials/_nav.html' %}
<div class="d-flex flex-row justify-content-center align-items-center">
    <div class="stopwatch-container d-flex flex-column align-items-center flex-nowrap">
        <div data-text class="stopwatch-number">
            00:00
        </div>
        <div class="d-flex flex-row">
            <button data-start type="button" class="btn btn-dark btn-lg m-3" aria-hidden="true">START</button>
            <button data-reset type="button" class="btn btn-danger btn-lg m-3" aria-hidden="true">RESET</button>
            <button data-preset type="button" class="btn btn-success btn-lg m-3" aria-hidden="true">PRESET</button>
        </div>
    </div>
</div>
<script src="{% static 'js/stopwatch.js' %}"></script>
{% endblock %}